.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


mat-toolbar {
  background: #1e9d88;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.main-content {
  margin-top: 64px;
  flex: 1;
  padding: 16px;
}


footer {
  background: #f1f1f1;
  text-align: center;
  padding: 16px;
}
